rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isEditor() {
      return isSignedIn()
        && (
          request.auth.token.email in [
            "you@example.com"
          ] ||
          exists(/databases/$(database)/documents/editorInvites/$(request.auth.token.email))
        );
    }

    match /editorInvites/{email} {
      allow read: if isSignedIn()
        && (isEditor() || request.auth.token.email == email);
      allow write: if isEditor();
    }

    match /announcements/{docId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
        && request.resource.data.authorEmail == request.auth.token.email;
      allow update, delete: if isEditor()
        || request.auth.token.email == resource.data.authorEmail;
    }

    match /messages/{docId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
        && request.resource.data.authorEmail == request.auth.token.email;
      allow update, delete: if isEditor()
        || request.auth.token.email == resource.data.authorEmail;
    }

    match /events/{docId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
        && request.resource.data.authorEmail == request.auth.token.email;
      allow update, delete: if isEditor()
        || request.auth.token.email == resource.data.authorEmail;
    }

    match /shows/{docId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
        && request.resource.data.authorEmail == request.auth.token.email;
      allow update, delete: if isEditor()
        || request.auth.token.email == resource.data.authorEmail;
    }

    match /auditions/{docId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn()
        && request.resource.data.authorEmail == request.auth.token.email;
      allow update, delete: if isEditor()
        || request.auth.token.email == resource.data.authorEmail;
    }

    match /{document=**} {
      allow read: if isSignedIn();
      allow write: if isEditor();
    }
  }
}
